@model LandingPageViewModel

@{
    ViewData["Title"] = Html.DisplayFor (m => m.CustomerName);
}

@section scripts {
    <script src="~/js/name_search.js" asp-append-version="true"></script>
}

@section navbar_items {
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-dark" href="#" id="stores-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Stores
        </a>
        <div id="search-menu" class="dropdown-menu" aria-labelledby="stores-dropdown">

            <input id="search" type="text" class="form-control" placeholder="Search" aria-label="Search" />

            @foreach (var option in Model.StoreOptions) {
                <a class="dropdown-item" href="/Store?name=@option" value="@option">@Html.DisplayFor(m => option)</a>
            }
        </div>
    </li>

    <li class="nav-item">
        <a class="nav-link text-dark" href="/Customer/Orders">Orders</a>
    </li>

    <li class="nav-item">
        <a class="nav-link text-dark" href="/">Switch User</a>
    </li>
}

<div class="text-center">
    <h2 id="welcome">Welcome, @Html.DisplayFor(m => m.CustomerName)!</h2>
    <table aria-describedby="welcome">
        <thead>
            <tr>
                <th scope="col">@Html.DisplayNameFor(m => m.LastVisitedStore)</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <a href="/Store?name=@Model.LastVisitedStore">@Html.DisplayFor(m => m.LastVisitedStore)</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
