@model OrdersViewModel

@{
    ViewData["Title"] = "Orders at " + Model.StoreName;
    ViewData["ShowStoreName"] = false;
}

@section navbar_items {
    <li class="nav-item">
        <a class="nav-link text-dark" href="/Store?name=@Model.StoreName">@Html.DisplayFor(m => m.StoreName)</a>
    </li>
}

@{
    if (Model.CustomerOrders.Count () == 0) {
        <h2>@Model.CustomerName has no orders at @Model.StoreName</h2>
    }

    else {

        <h2>Orders for @Model.CustomerName at @Model.StoreName:</h2>
        <br />

        await Html.RenderPartialAsync ("_DisplayCustomerOrders");
    }
}
