@model StoreViewModel

@{
    ViewData["title"] = "New Order";
}

@section navbar_items {

}

@Html.HiddenFor(m => Model.Name)
<h2>New Order at @Html.DisplayFor(m => Model.Name)</h2>
<h4>(Max items per order: 20)</h4>

<div style="margin-left: 25%;">

    @{ await Html.RenderPartialAsync ("_Banners"); }

    <input id="search" type="text" placeholder="Search" class="form-control" style="width: 50% !important;" />

    <form id="new-order-form">

        @Html.AntiForgeryToken()

        <div class="form-group">

            <table aria-describedby="available-products" id="product-table" class="table">

                <thead>
                    <tr>
                        <th scope="col">Product Name</th>
                        <th scope="col">Unit Price</th>
                        <th scope="col">Available Stock</th>
                        <th scope="col">Quantity</th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var stock in Model.Stock) {
                        <tr>
                            <td id="product-name">@Html.DisplayFor(m => stock.Product.Name)</td>
                            <td>@Html.DisplayFor(m => stock.Product.DisplayPrice)</td>
                            <td>@Html.DisplayFor(m => stock.ProductQuantity)</td>
                            <td><input class="form-control" type="number" max="@stock.ProductQuantity" min="0" name="ProductQuantity" value="0" /></td>
                            <td style="display: none;">@Html.HiddenFor(m => stock.Product.Id)</td>
                        </tr>
                    }
                </tbody>

            </table>

            <div id="available-products">Products available at @Model.Name</div>

        </div>

        <span class="form-group">
            <button type="submit" class="btn btn-primary">Finish</button>
            <a href="/Store?name=@Model.Name" class="btn btn-primary">Exit</a>
        </span>

    </form>
</div>

<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
<script src="~/js/new_order.js" asp-append-version="true"></script>
