@model StoreViewModel

@{
    ViewData["title"] = "New Order";
}

@section navbar_items {
    
}

<form id="new-order-form">

    @Html.AntiForgeryToken()
    @foreach (var stock in Model.Stock) {

        <div>
            <span>
                @Html.DisplayFor(m => stock.Product.Name)
            </span>

            <span>
                @Html.DisplayFor(m => stock.Product.Price)
            </span>

            <span>
                @Html.DisplayFor(m => stock.ProductQuantity)
            </span>

            <span>
                <input class="form-control" type="number" max="@stock.ProductQuantity" min="0" name="ProductQuantity" value="0" />
            </span>

            @Html.HiddenFor(m => stock.Product.Name)
            @Html.HiddenFor(m => stock.Product.Price)
        </div>
    }
    <button type="submit" class="btn btn-primary">Finish</button>

</form>

<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
<script src="~/js/new_order.js" asp-append-version="true"></script>
